.product-image-box {
    width: 280px;
    height: 280px;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    border: 1px solid #e0e0e0;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
